{
  "mcpServers": {
    "perplexity-ask": {
      "command": "npx",
      "args": [
        "-y",
        "server-perplexity-ask"
      ],
      "env": {
        "PERPLEXITY_API_KEY": "your-key-here"
      }
    },
    "context7-mcp": {
      "command": "cmd",
      "args": [
        "/c",
        "npx",
        "-y",
        "@smithery/cli@latest",
        "run",
        "@upstash/context7-mcp",
        "--key",
        "your-key-here"
      ]
    },
    "YouTube Toolbox": {
      "type": "http",
      "url": "https://server.smithery.ai/@jikime/py-mcp-youtube-toolbox/mcp?api_key=your-api-key-here&profile=your-profile-here",
      "headers": {}
    }
  }
}
